@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
.heading-primary {
  font-family: "Plus Jakarta Sans", sans-serif, sans-serif;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 23px; }

.heading-secondary {
  font-family: "Plus Jakarta Sans", sans-serif, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 34px; }

.heading-tertiary {
  font-family: "Plus Jakarta Sans", sans-serif, sans-serif;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 58px; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Plus Jakarta Sans", sans-serif, sans-serif;
  color: #000;
  background-color: #fff7f0;
  overflow-x: hidden; }

.container {
  max-width: 1111px;
  margin: 0 auto; }

.navbar {
  max-width: 1111px;
  height: 64px;
  margin-top: 34px;
  margin-bottom: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navbar__logo {
    width: 64px;
    height: 64px; }
  .navbar__btn {
    cursor: pointer;
    color: #fff7f0;
    background-color: #030303;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    padding: 14px 45px;
    border: none;
    border-radius: 28px;
    line-height: 28px; }
  .navbar__btn:hover, .navbar__btn:visited {
    background-color: #755cde;
    color: #ffff; }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 136px; }
  .hero__texts {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .hero__text {
    color: #7a746e;
    max-width: 730px;
    font-size: 18px;
    line-height: 28px; }
  .hero__grid {
    display: grid;
    grid-template-columns: repeat(6, 164px);
    grid-template-rows: repeat(2, 182px);
    grid-gap: 25px; }
    .hero__grid--1 {
      background-color: #755cde;
      grid-column: 1/3;
      grid-row: 1/3; }
    .hero__grid--2 {
      background-color: #f6a560;
      grid-column: 3/4;
      grid-row: 1/2; }
    .hero__grid--3 {
      background-color: #f39e9e;
      grid-column: 4/5;
      grid-row: 1/2; }
    .hero__grid--4 {
      background-color: #61c4b7;
      grid-column: 5/7;
      grid-row: 1/2; }
    .hero__grid--5 {
      background-color: #eb7565;
      grid-column: 3/5;
      grid-row: 2/3; }
    .hero__grid--6 {
      background-color: #552049;
      grid-column: 5/7;
      grid-row: 2/3; }
    .hero__grid--card {
      border-radius: 8px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .hero__grid--text {
      font-size: 24px;
      font-weight: bold;
      color: #ffff;
      margin-right: auto; }
    .hero__grid--img {
      margin-left: auto; }

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 125px;
  margin-bottom: 88px; }
  .about__img {
    width: 445px;
    height: 445px;
    filter: contrast(0%); }
  .about__texts {
    display: flex;
    flex-direction: column; }
  .about__text {
    color: #7a746e;
    max-width: 730px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px; }
  .about__btn {
    cursor: pointer;
    color: #fff7f0;
    background-color: #eb7565;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    padding: 14px 45px;
    border: none;
    border-radius: 28px;
    line-height: 28px; }
  .about__btn:hover, .about__btn:visited {
    background-color: #f6a560;
    color: #ffff; }

.work {
  max-width: 100%;
  margin-bottom: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .work__slider--container {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    margin-bottom: 56px;
    gap: 30px; }
  .work__slider--img {
    border-radius: 8px; }
  .work__btns {
    display: flex;
    flex-direction: row;
    gap: 16px;
    position: relative; }
    .work__btns--btn {
      background-color: #030303;
      width: 64px;
      height: 64px;
      padding: 24px;
      border-radius: 64px;
      cursor: pointer; }
    .work__btns--btn:hover, .work__btns--btn:visited {
      background-color: #755cde; }

.cta {
  height: 320px;
  background-color: #030303;
  padding: 65px;
  border-radius: 10px;
  margin-bottom: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .cta__h2 {
    color: #ffff; }
  .cta__text {
    width: 540px;
    color: #fff7f0;
    max-width: 730px;
    font-size: 18px;
    line-height: 28px; }
  .cta__btn {
    cursor: pointer;
    color: #fff7f0;
    background-color: #eb7565;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    padding: 14px 45px;
    border: none;
    border-radius: 28px;
    line-height: 28px; }
  .cta__btn:hover, .cta__btn:visited {
    background-color: #f6a560;
    color: #ffff; }

.footer {
  max-width: 1111px;
  height: 64px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .footer__logo {
    width: 64px;
    height: 64px; }
  .footer__btn {
    cursor: pointer;
    color: #fff7f0;
    background-color: #030303;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    padding: 14px 45px;
    border: none;
    border-radius: 28px;
    line-height: 28px; }
  .footer__btn:hover, .footer__btn:visited {
    background-color: #755cde;
    color: #ffff; }

@media only screen and (max-width: 1150px) {
  .heading-primary {
    font-size: 44px; }
  .heading-secondary {
    font-size: 32px; }
  .heading-tertiary {
    font-size: 32px; }
  .navbar {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto; }
  .hero {
    padding: 0 1.8rem; }
    .hero__text {
      max-width: 550px; }
    .hero__grid {
      max-width: 750px;
      display: grid;
      grid-template-columns: repeat(4, 164px);
      grid-template-rows: repeat(3, 182px); }
      .hero__grid--1 {
        grid-column: 1/3;
        grid-row: 1/3; }
      .hero__grid--2 {
        grid-column: 3/4;
        grid-row: 1/2; }
      .hero__grid--3 {
        grid-column: 4/5;
        grid-row: 1/2; }
      .hero__grid--4 {
        grid-column: 1/3;
        grid-row: 3/4; }
      .hero__grid--5 {
        grid-column: 3/5;
        grid-row: 2/3; }
      .hero__grid--6 {
        grid-column: 3/5;
        grid-row: 3/4; }
  .about {
    justify-content: center;
    gap: 69px; }
    .about__img {
      margin-left: -15rem; }
    .about__texts {
      max-width: 350px; }
  .cta-section {
    padding: 1.8rem; }
  .cta {
    max-width: 750px;
    height: auto;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .cta__text {
      margin-bottom: 26px; }
  .footer {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (max-width: 810px) {
  .navbar {
    padding: 0 1.8rem; }
  .about {
    padding: 0 1.8rem; }
  .cta {
    max-width: 100%; }
    .cta__text {
      max-width: 400px; }
  .footer {
    padding: 0 1.8rem; } }

@media only screen and (max-width: 780px) {
  .hero__grid {
    max-width: 343px;
    display: grid;
    grid-template-columns: repeat(2, 159px);
    grid-template-rows: repeat(6, 182px); }
    .hero__grid--1 {
      grid-column: 1/3;
      grid-row: 1/3; }
    .hero__grid--2 {
      grid-column: 1/2;
      grid-row: 3/4; }
    .hero__grid--3 {
      grid-column: 2/3;
      grid-row: 3/4; }
    .hero__grid--4 {
      grid-column: 1/3;
      grid-row: 4/5; }
    .hero__grid--5 {
      grid-column: 1/3;
      grid-row: 5/6; }
    .hero__grid--6 {
      grid-column: 1/3;
      grid-row: 6/7; }
  .about {
    flex-direction: column; }
    .about__img {
      margin-left: 0rem; }
    .about__texts {
      max-width: 550px;
      text-align: center;
      align-items: center; } }

@media only screen and (max-width: 644px) {
  .heading-primary {
    font-size: 36px;
    margin-bottom: 16px; }
  .heading-secondary {
    font-size: 26px;
    margin-bottom: 24px; }
  .heading-tertiary {
    font-size: 24px;
    margin-bottom: 32px; }
  .navbar {
    margin-top: 16px;
    margin-bottom: 32px; }
    .navbar__logo {
      width: 48px;
      height: 48px; }
    .navbar__btn {
      font-size: 14px;
      padding: 8px 27px; }
  .hero {
    margin-bottom: 100px; }
    .hero__texts {
      max-width: 343px;
      margin-bottom: 32px; }
    .hero__text {
      font-size: 16px;
      line-height: 26px; }
  .about {
    margin-bottom: 100px; }
    .about__texts {
      max-width: 343px; }
    .about__text {
      font-size: 16px;
      line-height: 26px; }
    .about__btn {
      font-size: 14px;
      padding: 8px 27px; }
  .work {
    margin-bottom: 100px; }
  .cta-section {
    margin-bottom: 40px; }
  .cta {
    margin-bottom: 0rem; }
    .cta__text {
      max-width: 343px;
      font-size: 16px;
      line-height: 26px; }
    .cta__btn {
      font-size: 14px;
      padding: 8px 27px; }
  .footer {
    height: auto;
    margin-bottom: 32px; }
    .footer__logo {
      width: 48px;
      height: 48px; }
    .footer__btn {
      font-size: 14px;
      padding: 8px 27px; } }

@media only screen and (max-width: 460px) {
  .work__slider--container {
    max-width: 1040px; } }

@media only screen and (max-width: 426px) {
  .cta__text {
    max-width: 250px; } }
